{% extends './../base.html' %}
{% load static %}


{% block title %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/signUP.css">
{% endblock %}

{% block main %}
<main>
    <body>
        <div class="sign-up">
            <h3>SIGN UP</h3>
            <form method="post" action="{% url "accounts:signup" %}">
                {% csrf_token %}
                <section class="input-fields">
                    <label for="firstName">First Name</label>
                <input type="text" name="firstname">
                </section>
                <section class="input-fields">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastname">
                </section>
                <section class="input-fields">   
                    <label for="emailAddress">Email address</label>
                    <input type="text" name="email">
                </section>
                <section class="input-fields">
                    <label for="password">password</label>
                    <input type="password" name="password">
                </section>
                <section class="input-fields">
                    <label for="confirmPassword">confirm password</label>
                    <input type="password" name="confirmpassword">
                </section>
                <button class="btn btn-primary detail">CREATE ACCOUNT</button>
                <P>Already have an account <a href="{% url 'accounts:login' %}">log in</a> ?</P>
        </form>
        </div>
    </body>
</main>
{% endblock %}

{% block javascript %}
<script src=""></script>
{% endblock %}

