<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Category</h1> 
    {% for category in categories  %}
        <p>{{ category.name }}</p>
        {% for product in category.products.all %}
            <p>{{ product.name }}</p>
        {% empty %}
            <p>No product</p>
        {% endfor %}
    {% empty %}
        <p>No categories</p>
    {% endfor %}
</body>
</html>