:root{
    --primary-color: #FFFFFF;
    --accent-color: #4A2DFC;
    --secondary-color: #0C0101;
    --light-grey: #D9D9D9;
    --mid-grey: #7A7A7A;
    --dark-grey:  #353535;
    
    --btn-primary-color: var(--accent-color);
    --btn-secondary-color: #6c757d;
    --btn-primary-text-color: #fff;
    --btn-secondary-text-color: #fff;
    
    --text-primary-color: #212529;
    --text-secondary-color: #6c757d;
    --text-accent-color: #4A2DFC;
    --text-light-color: #fff;
}
main{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    
}
.search-bar{
    display: flex;
    justify-content: center;
    height: 3rem;
    padding-top: 1rem;
}
.search-bar input{
    border-radius: 1.5rem 0 0 1.5rem;
    width: 30rem;
} 
.search-bar button{
    border-radius: 0 1.5rem 1.5rem 0;
    width: 3rem;
    background: transparent;
}
.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
}
.landing div {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    padding-right: 5.6rem;
}
.landing div h2 {
    padding-bottom: 2.2rem;
    padding-top: 7.6rem;
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}
.landing div p{
    padding-bottom: 7.6rem;
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}
.primary-display{
    display: flex;
    flex-direction: column;
}
.primary-display h3{
    align-self: center;
    padding-top: 2.8rem;
}

.landing-accent{
    color: var(--text-accent-color);
}
.product-container{
    display: flex;
    flex-direction: column;
    padding: 3.9rem;
}
.product-section{
    display: flex;
    justify-content: space-between;
    padding-top: 2.8rem;
    gap: 3.9rem;
}
.product-card{
    display: flex;
    flex-direction: column;
    width: calc(25% - 50px); 
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}
.product-card img {
    width: 20rem;
    height: 21rem;
}
.product-card div{
    justify-content: center;
}
.product {
    padding: 0.5rem 1.6rem 0.6rem 0.6rem 0.6rem;
}

.product span {
    display: block;
}

.product div {
    margin-top: 1rem;
}

.product h4,
.product p {
    margin: 0.6rem 0;
}
.product button {
    margin-top: 0.6rem;
}